.about {
  padding: 100px 20px;
  background-color: #f4f6f811;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  max-width: 900px;
  background-color: #ffffff1e;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  border-left: 6px solid #0ea5e9;
  padding-left: 12px;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  .about-container {
    padding: 30px 20px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}
